extends layout
block content
    div.container
        div.content
            div.page-header
                h1 Rpi tester helper
    div.row
      div.col-md-3
        include status.jade
      div.col-md-9
        include main.jade
